@bg-color: #ffffff;

body{
  background-color: @bg-color;
}

.cover{
  background-size: cover;
  height: 100px;
  width: 100px;
}

.album{
  width: 150px;
  float: left;
}

#songTableWrapper{
  height: 600px;
  overflow: auto;
}

#songTable{
  width: 100%;
}
